{{> header }}
{{> hero }}
<main>
  {{#if projects}}
  <div class="container mt-2">
    <div class="columns">
      {{#each projects}}
      <div class="column col-3">
        <div class="card">
          <div class="card-image"><img class="img-responsive" src="fox10.jpg" alt="OS X El Capitan"></div>
          <div class="card-header">
            <div class="card-title h5">{{ this.name }}</div>
            <div class="card-subtitle text-gray">{{ this.desc }}</div>
          </div>
          <div class="card-body">
            {{#each this.tags }}
              <span class="label label-rounded">{{ this }}</span>
            {{/each}}
        </div>
          <div class="card-footer">
            <a class="btn btn-primary" href="/projects/{{ this.slug }}">go to project</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{else}}
  {{> create_project_empty_state }}
  {{/if}}
</main>
{{> footer }}
