{{> header }}
{{> hero }}
<main>
  {{#if projects}}
  <div class="container mt-2">
    <div class="columns">
      {{#each projects}}
      <div class="column col-xs-12 col-sm-6 col-md-4 col-xl-3 col-2">
        <div class="card mb-2">
          <div class="card-image"><img class="img-responsive" src="fox10.jpg" alt="osx el capitan"></div>
          <div class="card-header">
            <div class="card-title h5">{{ this.name }}</div>
            <div class="card-subtitle text-gray">{{ this.type }}</div>
          </div>
          <div class="card-body">
            {{#each this.tags }}
              <span class="label label-rounded">{{ this }}</span>
            {{/each}}
        </div>
          <div class="card-footer">
            <a class="btn btn-primary m-1" target="_blank" href="/project/{{ this.slug }}">view</a>
            <a class="btn m-1" href="projects/open/{{ this.slug }}">code</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{else}}
  {{> create_project_empty_state }}
  {{/if}}
</main>
{{> footer }}
